html {
  background: #AFD4C0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
  background: linear-gradient(to bottom, #E2F3EA, #FFFFFF);
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
}

.nav {
  height: 75px;
  width: 100vw;
  background: #519872;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  color: #FFFFFF;
  display: flex;
}

.navleft {
  display: flex;
  font-size: 25px;
  align-items: center;
}
.navleft img, span {
  padding: 0 5px;
}

.navleft img {
  margin-left: 25vw;
}

.navright {
  display: flex;
  font-size: 15px;
  align-items: center;
}

.navright h3{
  margin-right: 25vw;
}